<%= form_for(excel_report) do |f| %>
  <% if excel_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(excel_report.errors.count, "error") %> prohibited this excel_report from being saved:</h2>

      <ul>
      <% excel_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
